html { 
	background: url(../images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	padding: 20px;

	font-family: sans-serif;
}

.container {
	background-color: #ffffff99;
	border-radius: 10px;
	padding: 20px;

	width: 960px;
	
	margin: 0 auto;
}


header #logo {
	margin-right: 10px;
	width: 350px;

}

header {
	padding-bottom: 20px;
	border-bottom: solid #000000 2px;
	text-align: center;
}