html {
	background: url(../images/bg.jpg) no-repeat center center fixed;
	background-size: cover;

	padding: 20px;

	font-family: "Roboto", sans-serif;
	text-align: center;
}

.container {
	background-color: #ffffff99;
	border-radius: 10px;
	padding: 20px;

	width: 960px;
	height: 650px;

	margin: 0 auto;
}


header .logo {
	margin-right: 10px;
	width: 350px;
}

header {
	padding-bottom: 20px;
	border-bottom: solid #000 2px;
}

h2 {
	font-size: 20px;
	margin: 5px 0;
}

h3 {
	font-size: 30px;
	margin-top: 50px;
}

li {
	list-style: square;
	font-size: 23px;
	text-align: left;
	margin: 10px auto;
	padding: 5px;
}

ul {
	display: inline-block;
	margin: 0 auto;
}

.timeLeft {
	width: 150px;
	border-bottom: dotted #000 2px;
	border-right: dotted #000 2px;
}

.choice:hover {
	background-color: #005b7b77;
	color: #ffffff;
	border-radius: 10px;
}

button {
	margin: 10px;
}

#question {
	margin: 50px 100px;
}